
.wieneke{
  background-image: url('./img/jorge.jpg');
  background-repeat: no-repeat;
  width: 100vh;
  height:120vh;
  font-size: 60px;
  background-attachment: fixed;
}

.texter{
  position: relative;
  left: 80vh;
  height: 100vh;
}

